[Unit]
Description=Defined Networking client daemon
ConditionFileIsExecutable=${BIN_DIR}/dnclient
Wants=network-online.target dnctl.service
Before=dnctl.service
After=network-online.target


[Service]
Type=notify
NotifyAccess=main
ExecStart=${BIN_DIR}/dnclient run -server https://api.defined.net -name ""
Restart=always
RestartSec=30
EnvironmentFile=-/etc/sysconfig/dnclient

[Install]
WantedBy=multi-user.target
